<header class="header">
  <div class="app-logo">
    <img class="logo-icon" src="assets/logo.png" alt="logo-icon">
    <span class="header-title"> Booking</span>
  </div>

  <div class="auth-menu">
    @if (!authService.isAuthenticated()) {
    <a routerLink="/register">Register</a>
    <a routerLink="/login">Sign in</a>
    } @else {
    <div class="user-menu-trigger" (click)="toggleDropdown()" appClickOutside (appClickOutside)="isDropdownOpen.set(false)">
      <div class="user-name-icon">{{ showFirstLetterCurrentUser() }}</div>
      <span class="user-name">{{ authService.currentUser()?.name }}</span>
    </div>

    <div class="user-menu-dropdown" [class.open]="isDropdownOpen()">
      <span class="dropdown-row">
        <i class="fa-regular fa-heart"></i> Favorites
      </span>

      <span class="dropdown-row" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Sign out
      </span>
    </div>
    }
  </div>
</header>