<header class="header">
  <div class="app-logo" routerLink="/search">
    <img class="logo-icon" src="assets/logo.png" alt="logo-icon">
    <span class="header-title"> Booking</span>
  </div>

  <div class="auth-menu">
    @if (!authService.isAuthenticated()) {
    <a routerLink="/register">Register</a>
    <a routerLink="/login">Sign in</a>
    } @else {

    @if (authService.currentUser()?.roles!.includes('host')) {
    <button type="button" class="notifications-link" (click)="toggleDrawer()">

      @if (notificationsService.unreadCount()) {
      <i class="fa-regular fa-bell" [matBadge]="notificationsService.unreadCount()"></i>
      } @else {
      <i class="fa-regular fa-bell"></i>
      }
    </button>
    }


    <button type="button" class="user-menu-trigger" (click)="toggleDropdown()" appClickOutside
      (appClickOutside)="isDropdownOpen.set(false)">
      <div class="user-name-icon">{{ showFirstLetterCurrentUser() }}</div>
      <span class="user-name">{{ authService.currentUser()?.name }}</span>
    </button>

    <div class="user-menu-dropdown" [class.open]="isDropdownOpen()">
      <button type="button" class="dropdown-row" routerLink="/profile">
        <i class="fa-regular fa-user"></i>
        Profile
      </button>

      @if (authService.currentUser()?.roles!.includes('host')) {
      <button type="button" class="dropdown-row" routerLink="/host/dashboard">
        <i class="fa-solid fa-table-columns"></i>
        Host dashboard
      </button>
      }

      <button type="button" class="dropdown-row" routerLink="/bookings">
        <i class="fa-solid fa-suitcase"></i>
        Bookings
      </button>

      <button type="button" class="dropdown-row" routerLink="/favorites">
        <i class="fa-regular fa-heart"></i>
        Favorites
      </button>

      <button type="button" class="dropdown-row" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Sign out
      </button>
    </div>
    }
  </div>
</header>