<section class="search-section">
  <form class="search-panel" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <div class="search-item destination">
      <i class="fa-solid fa-bed"></i>

      <mat-form-field appearance="outline" class="booking-field">
        <input matInput formControlName="destination" placeholder="Where are you going?">
      </mat-form-field>

      <button type="button" class="clear-btn" (click)="clearDestination()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="search-item date-item" formGroupName="dateRange" (click)="picker.open()">
      <i class="fa-regular fa-calendar"></i>

      <div class="date-display">
        {{ formattedDateRange() }}
      </div>

      <mat-form-field appearance="outline" class="hidden-date-field">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Check-in">
          <input matEndDate formControlName="end" placeholder="Check-out">
        </mat-date-range-input>

        <mat-date-range-picker #picker panelClass="booking-datepicker"></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="search-item guests-item">
      <i class="fa-regular fa-user"></i>

      <div class="guest-control">
        <span>{{searchForm.controls.adults.value}} adults</span>

        <div class="guest-control__amount">
          <button type="button" (click)="decrease('adults')">−</button>
          <strong>{{ searchForm.controls.adults.value }}</strong>
          <button type="button" (click)="increase('adults')">+</button>
        </div>
      </div>
    </div>

    <button class="search-btn" type="submit">
      Search
    </button>
  </form>
</section>