<section class="search-section">
  <form class="search-panel" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <div class="search-item destination">
      <i class="fa-solid fa-bed"></i>

      <mat-form-field appearance="outline" class="booking-field">
        <input matInput formControlName="destination" placeholder="Where are you going?">
      </mat-form-field>

      <button type="button" class="clear-btn" (click)="clearDestination()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <app-date-range-picker formControlName="dateRange"></app-date-range-picker>

    <app-guest-control formControlName="guests"></app-guest-control>

    <button class="search-btn" type="submit">
      Search
    </button>
  </form>
</section>