.saved-amount {
  font-size: 1rem;

  .fa-heart {
    color: var(--color-primary);
    margin-right: 0.3rem;
    font-size: 1.1rem;
  }
}

.favorires-page {
  min-height: 100vh;
}

.accommodation-list {
  margin-top: 1rem;
}
