<section class="accommodations-section">
  @if (getDestinationName()) {
  <h2>{{getDestinationName()}}: {{totalItems()}} properties found</h2>
  }
  @if (isLoading()) {
  <div class="accommodations-list">
    @for (_ of [1, 2, 3]; track _) {
    <div class="accommodation-card skeleton-card"></div>
    }
  </div>
  } @else if (errorMessage()) {
  <p class="error-text">{{ errorMessage() }}</p>
  } @else if (noResults()) {
  <div class="not-found-result">
    @if (emptyState() === 'search') {
    <i class="fa-solid fa-magnifying-glass"></i>
    } @else {
    <i class="fa-regular fa-heart"></i>
    }
    <h1>{{emptyTitle()}}</h1>
  </div>
  } @else {
  <div class="accommodations-list">
    @for (item of accItems(); track item.id) {
    <article class="accommodation-card">
      <div class="image-wrapper">
        <img class="accommodation-image" [src]="getImageUrl(item)" [alt]="item.name" />

        @if (authService.isAuthenticated()) {
        <button type="button" class="favorite-btn" [class.active]="isFavorite()(item.id)"
          [attr.data-tooltip]="isFavorite()(item.id) ? 'Remove this item' : 'Save this item'"
          (click)="favoriteClicked(item.id)">
          <i class="fa-heart" [class.fa-solid]="isFavorite()(item.id)" [class.fa-regular]="!isFavorite()(item.id)"></i>
        </button>
        }
      </div>

      <div class="accommodation-content">
        <div class="main-info">
          <h3 [routerLink]="['/accommodation', item.id]" queryParamsHandling="preserve">{{ item.name }}</h3>

          <p class="location">
            <i class="fa-solid fa-location-dot"></i>
            {{ item.city }}, {{ item.country }}
          </p>

          <div class="amenities">
            @for (amenity of item.amenities; track amenity) {
            <span>{{ replaceAmenity(amenity) }}</span>
            }
          </div>
        </div>

        <div class="side-info">
          <div class="rating-row">
            <div>
              <strong>
                {{ accommodationRatingLabel(item) }}
              </strong>
              <span>Rating</span>
            </div>

            <span class="rating-badge">
              {{ item.rating || '—' }}
            </span>
          </div>

          <div class="price-box">

            <strong>
              <i class="fa-solid fa-euro-sign"></i> {{ item.pricePerNight }}
            </strong>

            <span class="tax-text">Includes taxes and fees</span>
          </div>

          <button class="details-btn" type="button" [routerLink]="['/accommodation', item.id]"
            queryParamsHandling="preserve">
            See details
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </article>
    }
  </div>
  }
</section>