* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto";
  height: 100%;
}

.error-slot {
  min-height: 1rem;
  margin-top: 0.1rem;
}

.error-text {
  color: red;
  font-size: 0.8rem;
}

.input-error {
  outline: 1px solid red;
}
