.login-page {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  .login-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;

    .divider {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0.4rem 0;

      &::before,
      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: var(--color-border-dropdown);
      }

      span {
        color: var(--color-text-subtle);
        font-size: 0.85rem;
        font-weight: 500;
      }
    }
  }
}
