.login-page {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  .login-form {
    display: flex;
    flex-direction: column;
    width: 30%;

    .form-field {
      display: flex;
      flex-direction: column;
    }
  }
}
